

@media(maxiwidth:600px){
    h1{font-size: 22px;}
    .choice{width: 90px;
    height: 90px;}

}
button{
    padding: 10px;
    border-radius: 20px;
}
.btnplace{text-align: left;
padding: 10px;
display: flex;
flex-direction:row ;
}

body{background-image: url(bg.png);
   
background-size: cover;
background-position: center;
background-repeat: no-repeat;
min-height:100vh
}

.title{
    padding-left: 37%;
    display: fixed;
    
}


    
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.choice{
    
    height: 20vw;
    width:20vw;
    display: flex;

 justify-content: center;
  align-items: center;
  border-radius: 50%;
  
}

.choice:hover{
    cursor:pointer;
    background-color: #081b31;
    transform:scale(0.9);
    transition: 0.1s;
}
.choices{
    padding-top: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap:40px;
    flex-wrap: wrap;
}
img{
    height: 19.5vw;
    width:19.5vw;
    object-fit: cover;
    

    border-radius: 50%;
}

.choice img:active{
    transform:scale(1.1);
    box-shadow: 0 0 5px rgb(222, 215, 215);
transition: 0.1s;
}
.scorecard{
   display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 30px;
    gap: 20%;
   
}
.score{
  color:rgb(223, 234, 234);
  font-weight: bold;
  text-shadow:1px 1px 3px rgba(0,0,0,0.5);
}
#userscore,#compscore{   font-size: 30px;


}

.msgcontainer{margin-top: 10px;
    
gap: 8px;
}

#msg{
    margin-top: 3rem;
    font-size: 1.9rem;
    background-color: #0e4878;
    color: aliceblue;
    display: inline;
    border-radius: 15px;
    padding: 0.8rem;
   
}
#msg:hover{
    box-shadow:0px 4px 10px rgb(148, 144, 144)}
#informer{
    padding-top: 3.5%;
     font-weight: bold;
  text-shadow:1px 1px 3px rgba(0,0,0,0.5);
}
img{user-select: none;}


#msg.msg-active{
    transform:scale(1.1);
    box-shadow: 0 0 5px rgb(222, 215, 215);
transition: 0.1s;
}

.scorecard,#informer{
    color:white;
}
.score{
    padding-left: 65px;
}